.audio-player-wrapper {
  // position: relative;
	// padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
	color: blue;
  background-color: #f2f2f2;
  border-top: 1px solid #cecece;
  position: fixed;
  left: 0;
  bottom: 0;
  min-height: 48px;
  width: 100vw;
  z-index: 2;
}

.audio-player {
  position: absolute;
  top: 0;
	left: 0;
	background-color: blue;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: -1px;
  height: 48px;
  margin: 0 auto;
  width: 1240px;
  flex-shrink: 0;
  z-index: 3;
}
