#splash-page {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	min-width: 960px;
	width: 1180px;
	padding: 0 30px;
	margin: 0 auto;
	overflow: scroll;
}
.splash-header {
	display: flex;
	width: 100%;
	height: 46px;
	position: ABSOLUTE;
	top: 0;
	left: 0;
	background: black;
	z-index: 10;
}

#splash-header {
	background: url('https://soundpoof.s3-us-west-2.amazonaws.com/splash/splash2.jpg') 0 0/cover;
	// background: image_url("splash2.jpg") 0 0/cover;
	position: relative;
	// background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	// height: 100%;
	height: 446px;
	// margin: 0 auto;
	// width: 91.75vw;
	// max-width: 1240px;
	border-top: 4px solid orange;

}

.splash-bar {
	// width: 90vw;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	height: 10%;
  // height: 46px;
  align-items: center;
  justify-content: space-between;
	font-size: 14px;
	font-family: Interstate, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Garuda, Verdana, sans-serif;
	color: #fff;
}

.splash-left {
	display: flex;
	flex-direction: row nowrap;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	position: absolute;
	top: 20px;
	left: 30px;
	height: 10%;
}

.splash-logo {
	// display: inline-block;
	// background: image_url("logo.jpg");
	background-repeat: no-repeat;
	// height: 10%;
	width: 10%;
	padding-top: 1px;
	margin-right: 2em;
}
	img.splash-icon {
		// height: 100%;
		width: 100%;
		filter: invert(0%);
		mix-blend-mode: multiply;;
		filter: opacity(-50%);
}
.splash-text {
	display: inline-block;
  height: 30px;
  letter-spacing: 1px;
	color: white;
	box-sizing: border-box;
	align-self: center;
}


.login-signup {
	align-items: center;
	text-align: center;
	font-weight: 100;
	position: absolute;
	top: 20px;
	right: 30px;
	display: flex;
	color: #fff;
	font-size: 14px;
	font-family: Interstate, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Garuda, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.login-button {
	font-size: 14px;
	font-family: Interstate, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Garuda, Verdana, sans-serif;
	color: #fff;
	border-color: #e5e5e5;
	outline: 0;
	padding: 2px 15px;
	height: 30px;
	line-height: 24px;
	margin: 0 0 0 6px;
	background: transparent;
	transition: opacity .2s linear;
	display: inline-block;
	position: relative;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	cursor: pointer;
	white-space: nowrap;
  font-weight: 100;
	text-align: center;
	vertical-align: baseline;
	box-sizing: border-box;	
}

.signup-button {
	font-size: 14px;
	font-family: Interstate, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Garuda, Verdana, sans-serif;
	background-color: #f50;
	border-color: #f50;
	color: #fff;
	outline: 0;
	padding: 2px 16px;
	height: 30px;
	line-height: 24px;
	margin: 0 0 0 6px;
	transition: opacity 0.2s linear;
	display: inline-block;
	position: relative;
	border: 1px;
	border-radius: 3px;
	cursor: pointer;
	white-space: nowrap;
	font-weight: 100;
	text-align: center;
	vertical-align: baseline;
	box-sizing: border-box;
}

.signin-button:hover {
	font: 14px/1.5 normal white;
	font-family: Interstate, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Garuda, Verdana, sans-serif;
  border-color: white;
}

.creators-button {
  font-size: 14px;
  font-family: Interstate, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Garuda, Verdana, sans-serif;
  color: #fff;
  border-color: #e5e5e5;
  outline: 0;
  padding: 2px 0px;
  height: 30px;
  line-height: 24px;
  margin: 0 0 0 6px;
  background: transparent;
  transition: opacity 0.2s linear;
  display: inline-block;
  position: relative;
  border: 0;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 100;
  text-align: center;
  vertical-align: baseline;
  box-sizing: border-box;
}


.header-content {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
}
.header-button {
  font-size: 14px;
  font-family: Interstate, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Garuda, Verdana, sans-serif;
  background-color: #f50;
  border-color: #f50;
  color: #fff;
  outline: 0;
  height: 36px;
  line-height: 36px;
  transition: opacity 0.2s linear;
  display: inline-block;
  position: relative;
  border: 1px;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 100;
  text-align: center;
  vertical-align: baseline;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;

}


.splash-search-container {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 49px 0 12px;
}
.splash-search-form {
	display: flex;
	flex-flow: row nowrap;
	width: 600px;

	.splash-search-input {
		width: 100%;
		height: 46px;
		border-radius: 4px;
	}

	.splash-search-button {
		background-size: 19px 19px;
		width: 50px;
		height: 46px;
	}
}





#splashbottom {
  width: 91.75vw;
  max-width: 1240px;
  padding-top: 46px;
  background: #fff;
  min-width: 960px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 32px;
    line-height: 41.6px;
    font-weight: 300;
    margin: 0 auto 30px;
  }
}

.splash-trending{
  list-style: none;
  margin: 0 5px;
  display: flex;
  margin-left: 5px;
  flex-wrap: wrap;
}

.trending-track-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 40px;
}

.trending-track-artwork {
  box-sizing: border-box;
	background-image: linear-gradient(135deg, #846170, #e6846e);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 180px;
  max-height: 180px;
  min-width: 180px;
  min-height: 180px;
  img {
    flex-shrink: 0;
    min-width: 100%;
    max-width: 100%;
  }
}
.trending-track-info {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.trending-track {
  font-weight: 300;
}

.trending-track:hover {
  color: black;
}

.title {
  color: gray;
}
.artist {
  color: cloud-gray;
  padding-top: 3px;
}

.splash-title {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  text-align: center;
  letter-spacing: 1px;
  font-family: sans-serif;
}

.splash-subtitle {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  width: 500px;
  line-height: 1.5;
  margin-top: 15px;
}

.trending-track-item-container {
  margin: 0 auto;
}

h3.bl-header {
  margin: 10px auto 40px;
  font-size: 25px;
  font-weight: 300;
}







//
// .trending-container {
// 	display: flex;
// 	flex-flow: column nowrap;
// 	justify-content: center;
// 	align-items: center;
// 	padding-bottom: 10px;
// 	width: 100%;
// }

// .trending-header {
// 	display: block;
// 	font-size: 24px;
// 	text-align: center;
// 	padding-top: 20px;
// 	margin-bottom: 30px;
// 	width: 100%;
// }
// .trending-track-item-container {
// 	display: flex;
// 	flex-flow: row wrap;
// 	box-sizing: border-box;
// 	width: 100%;
// 	justify-content: center;
// 	align-items: center;
// }
// 	.trending-track-item {
// 		min-width: 16.66%;
// 		padding-right: 20px;
// 		box-sizing: border-box;
// 		float: left;
// 		flex-flow: column nowrap;

// 		display: flex;
// 		height: 215px;
	
// 		.trending-track-artwork {
// 			width: 100%;
// 			background-image: linear-gradient(135deg, #846170, #e6846e);
// 			// background-color: #f50;
// 			min-height: 136px;
// 			height: auto;

// 		}

// 		.trending-track-info {
// 			width: 100%;
// 			height: 35px;
		
// 			.trending-track-title {

// 			}
// 			.trending-track-artist {

// 			}
// 		}
// }

// .nav-bar {
// 	position: fixed;
// 	height: 10%;
// 	top: 0;
// 	left: 0;

// }



#app{
	// background-color: lightgray;
	justify-content: center;
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 46px 20px 0;
}
.content-container{
	// width: 91.75vw;
	width: 80%;
  max-width: 1240px;
  padding-top: 46px;
  background: white;
  min-width: 960px;
  height: 100%;
  margin: 0 auto;
	display: flex;
	justify-content: center;
}

.sidebar-placeholder{
  // flex: 2;
  display: flex; 
  flex-direction: column; 
  border-left: 1px lightgray solid;
	padding-top: 50px; 
	width: 300px;
	float: right;
	padding-left: 15px;
}

.track-index-page-container{
  display: flex;
  width: 100%;
}

.extraspace{
  margin-bottom: 40px; 
}

.ad-container{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  margin: 15px auto; 
  height: 208px;
	width: 300px;
	padding: 15px;
	border: 1px solid #e5e5e5;
  img {
    flex-shrink: 0; 
    min-width: 100%; 
		max-width: 100%; 
		background-image: linear-gradient(135deg, #846170, #e6846e);
  }
}