.track-show {
	width: 100%;
}

.track-show-page {
  display: inline-block;
  flex-direction: column;
	width: 80%;
	justify-content: center;
	align-items: center;

}
.track-show-navbar-container {
	display: flex;
	width: 100%;
}
.track-show-container {
	margin-top: 45px;
  display: flex;
  box-sizing: border-box;
  height: 380px;
  width: 100%;
  background-image: linear-gradient(90deg, #7e99cc, #fff);
}

.track-show-detail {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  margin: 30px;
  .track-sd-top {
    display: flex;
    box-sizing: border-box;
    height: 63px;
    align-items: center;
    .ts-play {
      box-sizing: border-box;
      background-image: url();
      background-size: 35px 35px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      height: 60px;
      width: 60px;
      background-color: #b3b4a9;
      cursor: pointer;
    }
    .playing {
      background-image: url();
      background-color: rgb(255, 51, 0);
    }
    .track-sd-info {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }
  }
  .track-sd-bott {
    width: 100%;
    height: 100px;
  }
}

.track-show-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 340px;
  max-height: 340px;
  min-width: 340px;
  min-height: 340px;
  margin: 20px;
  img {
    flex-shrink: 0;
    min-width: 100%;
    max-width: 100%;
  }
}

.track-show-container-bottom {
  display: flex;
  width: 100%;
}

.tscb-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  .button-bar {
    margin-left: 25px;
    height: inherit;
  }
}
.track-show-comment-bar {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 30px 5px;
}

.ti-comment-bar {
  width: 100%;
  .comment-container {
    margin-top: 25px;
  }
}

.tscb-sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 1px lightgray solid;
  margin-top: 22px;
}

.ts-uploader-ci {
  display: flex;
  max-width: 100%;
  border-top: 1px lightgray solid;
  padding-top: 25px;
  margin: 15px 30px;
  .ts-uc-left {
    flex: 1;
    .ts-artist-circle {
      display: flex;
      justify-content: center;
      align-items: center;
			overflow: hidden;
			color: #f50;
      box-sizing: border-box;
      max-width: 120px;
      max-height: 120px;
      min-width: 120px;
      min-height: 120px;
      border-radius: 50%;
      img {
        flex-shrink: 0;
        min-width: 100%;
        max-width: 100%;
      }
    }
    .ts-artist-name,
    .ts-follow-btn {
      margin: 10px 0px;
    }
    .ts-follow-btn {
      font-size: 11px;
      font-weight: 600;
      color: white;
      background-color: #f50;
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 3px;
      width: min-content;
      display: none;
    }
  }

  .ts-uc-right {
    flex: 3;
    .ts-track-description {
      font-size: 14px;
      margin-bottom: 25px;
      font-weight: 300;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.track-show-comment-index {
  border-top: 1px solid lightgray;
}

.track-sd-uploader {
  font-size: 16px;
  color: lightgray;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 5px 8px;
  margin-bottom: 5px;
  width: fit-content;
}

.track-sd-title {
  font-size: 25px;
  font-weight: 300;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 10px 9px;
}
















// 
main.track-page {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  height: 100%;
  width: 1100px;

  section.track-page-bottom {
    display: flex;
    background: white;
    padding-bottom: 50px;

    ul.track-page-bottom-main {
      flex: 2.5;
      display: flex;
      flex-direction: column;
      padding: 15px;
    }
  }
}

ul.track-page-bottom-info {
  display: flex;

  ul.artist-info {
    flex: 1;
    margin: 20px;

    img {
      border-radius: 50%;
      width: 140px;
      height: 140px;
    }

    a {
      margin-left: 3px;

      &:hover {
        border: none;
        text-shadow: 0 0 0 black;
      }
    }

    p {
      background-image: asset-url('follower.png');
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: 0px 0px;
      padding-left: 25px;
      margin: 5px 0;
    }

    button {
      border: 1px solid lavender;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 12px;
      background: #f50;
      color: white;
      margin: 0;
    }
  }

  ul.comments {
    flex: 4;

    li.track-description {
      min-height: 100px;
      margin-right: 15px;

      p {
        color: black;
        margin: 0 10px;
      }
    }

    li.track-comments {
      align-items: center;
      margin-bottom: 15px;
      margin-right: 15px;
      padding-bottom: 5px;
      border-bottom: 1px solid lavender;

      span {
        background-image: asset-url('comment.png');
        background-size: 28px 28px;
        background-repeat: no-repeat;
        background-position: 0px -3px;
        padding-left: 30px;
        margin: 5px 0;
        color: gray;
      }
    }
  }
}

li.single-comment {
  display: flex;
  align-items: center;

  &:hover button {
    visibility: visible;
  }

  img {
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px 15px 5px 5px;

    &:hover {
      cursor: pointer;
    }
  }

  p {
    font-size: 13px;
  }

  span {
    font-size: 14px;
  }

  ul.comment-body {
    margin-bottom: 5px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 400px;
    text-overflow: ellipsis;
    overflow-x: hidden;

    p:hover {
      color: gray;
      cursor: pointer;
    }

    li.comment-user {
      display: flex;
      justify-content: space-between;
    }

    input {
      flex-grow: 1;
      border: none;
      border-bottom: 1px solid lightgray;
      padding: 0 0 3px 0px;
      border-radius: 3px;
      font-size: 16px;
      font-family: Open Sans;

      &:focus {
        outline: none;
      }
    }
  }

  button {
    visibility: hidden;
    align-self: center;
    width: 45px;
    border: 1px solid lavender;
    border-radius: 3px;
    font-size: 10px;

    &:last-child {
      margin-left: 3px;
    }

    &:hover {
      border: 1px solid #846170;
    }
  }
}

section.track-content {
  display: flex;
  width: 100%;
  height: 380px;

  background: #f2a965; /* Old browsers */
  background: -webkit-linear-gradient(
    left,
    #f2a965 0%,
    #ef4d13 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #f2a965 0%,
    #ef4d13 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

section.track-content > ul {
  display: flex;
  height: 380px;
  width: 100%;

  li.track-page-info {
    flex: 1.95;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;

    div.track-waveform-box {
      margin: 20px;
    }

    ul.track-header {
      display: flex;
      margin: 20px;

      > li {
        display: flex;
        flex-direction: column;
        justify-content: center;

        div.track-play-icon {
          height: 65px;
          width: 65px;
          border-radius: 50%;
          background: #f50;

          &:hover {
            background: darkorange;
            cursor: pointer;
          }
        }
      }

      div.play-image:hover {
        background: darkorange;
        background-image: asset-url('play.svg');
        background-size: contain;
        cursor: pointer;
      }

      ul.track-title {
        margin-left: 10px;
        display: flex;
        flex-direction: column;

        li {
          display: inline;
          color: white;
          margin: 5px;

          span {
            display: inline;
            padding: 2px 8px;
            background: #846170;
          }
        }

        li:last-child {
          font-size: 24px;
          line-height: 0.6;
          margin: 10px 5px;
          padding-top: 4px;
        }

        li:first-child {
          font-weight: 300;
          font-size: 17px;

          span {
            color: lavender;
          }

          span:hover {
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }

  li.track-page-image {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 15px;

    img {
      height: 350px;
      width: 350px;
    }
  }
}



.sound-actions {
  z-index: 1;
  overflow: hidden;
  position: relative;
  float: left;
  background-color: #fff;
  margin: 0;
  float: left;
  clear: none;
}

.sound-actions-btn {
  min-width: 25px;
  float: left;
  margin-right: 5px;
  font-family: 'Lucida Grande';
  text-indent: 19px;
  font-size: 11px;
  padding: 2px 9px 2px 8px;
  height: 22px;
  line-height: 1.4;
  border-color: #e5e5e5;
}

.sound-actions-btn.active {
  color: #f50;
}

.sound-actions-btn:hover {
  color: #333;
  outline: 0;
  border-color: #ccc;
}

.sound-actions-btn.active:hover {
  border-color: #f50;
  color: #f50;
}

.sound-actions-btn:before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 5px;
  height: 20px;
  width: 20px;
  background-size: 16px 16px;
}

.sound-actions-btn.action-like.active:before,
.sound-actions-btn.action-repost.active:before {
  background-color: #f50;
}

.sound-actions-btn.action-like:before {
  -webkit-mask-position: 50% 50%;
  background-color: black;
  -webkit-mask-image: image-url('like-button.svg');
}
