input[type='file'] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.upload-page {
  margin-top: 50px;
  width: 100%;
	margin-bottom: 120px;
	height: 650px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: flex-end;;
	// background-image: image-url('upload-piano.jpg') 0 0 no-repeat;
	// background-position: center;
  // background-size: 1240px 800px;
}

.upload-page-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-content: space-around;
	width: 100%;
}
.upload-page-background {
		width: 1240px;
		height: 650px;
		content: '';
		background-image: image-url('upload-piano.jpg') ;
	  position: absolute;
    right: 0;
		left: 0;
    margin: 50px auto 120px;
    transition: opacity .3s ease-in-out;
    background-size: 1240px 750px;
		background-position: center bottom;
    opacity: .78;
    pointer-events: none;
    // min-height: calc(100vh - 46px);
    overflow: hidden;
    z-index: -2;
}

.upload-page-nav {
  padding: 15px;
  width: 100%;
  margin: 0;
  left: 0;
  display: flex;
  color: grey;
	justify-content: left;
	justify-items: flex-start;
	font-size: 14px;
	justify-self: flex-start;
}
.upload-page-link {
 	color: grey;
  margin-left: 10px;
  margin-right: 40px;
  box-sizing: border-box;
}
.upload-page-link:hover {
  color: grey;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #F50;
}
.selected {
	color: #f50;
 border-bottom: 1px solid #F50;
 border-color: #f50;
	cursor: default;
	padding-bottom: 10px;

}
.upload-page-nav > NavLink {
  text-decoration: none;
}
.upload-page-footer {
	width: 75%;
	height: 75px;
	position: absolute;
	border-color: #f2f2f2;
	background-color: hsla(0, 0%, 94.9%, 0.9);
	transition: background-color .3s ease-in-out;
	justify-content: center;
}

.upload-form-container {
  height: 400px;
  width: 75%;
  top: 40px;
  left: 150px;
  // box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
  box-shadow: 0 2px 12px -5px rgba(0, 0, 0, 0.8);
  border: 1px solid #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 5px 0;
  border-radius: 2px;
  background-color: #fff;
  text-align: center;
  position: absolute;
  padding: 60px;
	box-sizing: border-box;
	opacity: 1;
	align-self: center;
	justify-self: center;
	align-items: stretch;;
}

.upload-form-container h1 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #333;
}
.upload-form-content {
  margin-bottom: 50px;
	align-content: center;
}
.upload-form-container p {
  margin-top: 35px;
  line-height: 13px;
	color: #333;
	align-content: flex-end;
	align-self: flex-end;
}
.upload-form-container div {
	line-height: 13px;
	height: 20px;
}
.circle-image {
  background-image: image-url('imageStock.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: cover;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  border: 1px solid #333;
  margin-bottom: 20px;
}
.custom-file-upload {
  background-color: #f50;
  color: white;
  font-size: 16px;
  line-height: 18px;
  padding: 10px 50px;
  border-radius: 5px;
  // height: 40px;
}

.second-upload-form-content {
  display: flex;
  justify-content: space-evenly;
  // border-top:1px solid #ccc;
  padding: 20px;
  // box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
}

.right-form {
  display: flex;
  // align-content: flex-start;
  flex-direction: column;
}

.right-form label {
  text-align: left;
}

.right-form input[type='text'] {
  border-radius: 3px;
  border: 1px solid #cccccc;
  outline: none;
  margin-bottom: 15px;
  padding: 5px;
  max-height: 15px;
}

// a:visited {
//   color: inherit;
// }

.right-form {
  width: 50%;
  align-items: left;
  align-content: left;
  font-size: 12px;
}

.left-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-form input[type='submit'] {
  background-color: #f50;
  color: white;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}

textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical;
  max-height: 100px;
}

.seond-form-info {
  font-size: 24px;
  font-weight: bold;
  color: #f50;
  padding: 10px;
  border-bottom: 1px solid #f50;
  box-sizing: border-box;
  text-align: left;
}

.stock-photo {
	max-width: 250px;
	background-image: url('https://soundpoof.s3-us-west-2.amazonaws.com/logo.jpg');
}
