/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #app {
	width: 1180px;
	padding: 46px 30px 0;
	margin: 0 auto;
	display: flex;
	min-height: 500px;
	align-items: flex-start;
	justify-content: center;
}

@media (max-width: 1239px) {
  #app {
		width: 1020px;
		padding: 46px 20px 0;
	}
	#nav-container {
		width: 1080px;
	}
	main.stream-main .stream-index {
		 padding: 30px 30px 0 0;
	}
	/* #waveform {
		max-width: 644px;
	} */
}

@media (max-width: 1079px) {
  #app {
		width: 920px;
		padding: 46px 0 0;
	}
	#nav-container {
		width: 960px;
	}
	main.stream-main .stream-index {
		 padding: 30px 20px 0 0;
	}
	/* #waveform {
		max-width: 644px;
	} */
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
  letter-spacing: 0.02em;
}
