nav#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #111;
  height: 46px;
  z-index: 1000;
  // border-top: 1px solid #b3b4a9;
  border-right: 1px solid #111;
	color: #ccc;
	transition: height 0.2s ease-in-out;
	-webkit-font-smoothing: subpixel-antialiased;
	font-weight: 100;
	font-size: 14px;
	line-height: 1.5;
	font-family: Interstate, 'Lucida Grande', 'Arial', sans-serif;
}

nav#nav-container {
	position: absolute;
	overflow-x: visible;
	max-width: 1240px;
	width: 100%;
	height: 100%;
	max-height: 46px;
  margin: 0 auto;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	vertical-align: middle;
  justify-content: space-between;
  font-size: 14px;
  font-family: Interstate, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Garuda, Verdana, sans-serif;
  color: #fff;
  top: 0;
  left: 0;
	right: 0;
	z-index: 1000;
}

nav.nav {
	display: inline-flex;
  width: 100%;
  height: 46px;
  position: fixed;
  top: 0;
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  background-color: rgb(51, 51, 51);
  z-index: 1000;
}

nav#nav-btns-container{
	top: 0;
	line-height: 1.5;
	display: inline-flex;
	width: 1240px;
	justify-content: space-evenly;
	align-items: center;
	vertical-align: middle;
	background-color: #333;
	border-right: 1px solid #111; 
	height: 100%;
}

.nav-left {
  // margin-left: px;
	display: flex;
	height: 100%;
	flex-flow: row nowrap;
	color: #ccc;
	flex: 1;
	justify-content: space-evenly;
	 
}

.nav-logo {
  display: block;
  color: transparent;
  background-size: 68px auto;
	min-width: 69px;
	max-width: 100px;
  height: 46px;
  background-color: #f50;
  background-image: image-url('logo.png');
  background-repeat: no-repeat;
	background-position: center center;
	white-space: nowrap;
	word-break: break-word;
	flex: 1;
}

.nav-collection, .nav-home, .nav-sign-out, .nav-upload {
  display: block;
  text-align: center;
  font-size: 14px;
  background-color: #333;
  color: #ccc;
  padding: 12px 10px;
  font-weight: 300;
	max-width: 104px;
	min-width: fit-content;
  border-right: 1px solid #111;
  height: 46px;
	box-sizing: border-box;
	white-space: nowrap;
	word-break: break-word;
	flex: auto 1 1;
}

.nav-home:hover, .nav-upload:hover, .nav-sign-out:hover, .nav-collection:hover {
  color: white;
}

.nav-selected {
	color: white !important;
	outline: 0;
  background-color: #111 !important;
}

/* ---------------------- */

.nav-middle {
	width: 100%;
	min-width: 46px;
	flex: 1.5;
	flex-basis: 1;
}

.nav-search {
  padding: 9px 10px 8px;
	position: relative;
	justify-content: center;
	background-color: #333;
	border-right: 1px solid #111;
}

.nav-search input[type='search'] {
  color: #666;
  padding: 5px 7px;
  background: #e5e5e5;
  box-sizing: border-box;
  min-height: 28px;
  border-radius: 4px;
  width: 100%;
  font-weight: 300;
	transition: all 300ms ease-in-out;
	border: 0;
	outline: 0;
}

.nav-search input[type='search']:focus {
  background-color: #fff;
}

.nav-search input[type='search']::placeholder {
  color: rgb(153, 153, 153);
}

.nav-search > input[type='search']::-webkit-search-cancel-button {
  display: none;
}

.nav-search button[type='submit'] {
  color: transparent;
  border: 0;
  padding: 0;
  background: image-url('search-btn.svg') 0 0 no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 20px;
  top: 15px;
}

/* ---------------------- */

.nav-right {
  display: flex;
	// margin-right: 30px;
	border-right: 1px solid #111;
	color: #CCC;
	flex: 1;
}

.nav-upload {
  display: block;
  padding: 12px 10px 12px;
  text-align: center;
  font-size: 14px;
  background-color: #333;
  color: #CCC;
  font-weight: 300;
	max-height: 46px;
	height: 100%;
	box-sizing: border-box;
	border-right: 1px solid #111;
	white-space: nowrap;
}

.nav-user-menu {
  height: 46px;
  padding: 12px 28px 12px 10px;
  box-sizing: border-box;
  position: relative;
	cursor: pointer;
	background-color: #333;
	border-right: 1px solid #111;
	min-width: 46px;
}

.nav-user-button {
	display: flex;
	min-width: 46px;
	word-break: break-all;
}

.nav-user-image {
  margin-top: -2px;
  margin-right: 10px;
  height: 26px;
  width: 26px;
  /* background-image: image-url(); */
	background-repeat: no-repeat;
	background-size: cover;
  color: transparent;
  background-position: 50% 50%;
	box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
  border-radius: 50%;
}

.nav-user-image span {
  display: block;
  height: 26px;
  width: 26px;
  background-size: cover;
  color: transparent;
  background-position: 50% 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
  background-image: linear-gradient(135deg, #e6846e, #8e8485);
  border-radius: 50%;
}

.nav-user-username {
  display: block;
	max-width: 218px;
	// width: max-content;
  text-align: center;
  font-size: 14px;
  background-color: #333;
  color: #ccc;
	font-weight: 300;
	word-break: break-all;
}

.nav-user-menu:hover .nav-user-username {
  color: white;
}

.nav-notifications,
.nav-messages,
.nav-menu {
  color: transparent;
  width: 46px;
  height: 46px;
  opacity: 0.75;

  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.nav-notifications:hover,
.nav-messages:hover,
.nav-sign-out:hover {
  opacity: 1;
}

.nav-notifications {
  background-image: image-url('notifications-button.svg');
}

.nav-messages {
  background-image: image-url('messages-button.svg');
}

.nav-menu {
  background: image-url('ellipsis-button.svg') 50% 50% no-repeat;
  cursor: pointer;
}

.nav-menu:hover {
  color: transparent;
  opacity: 1;
}

.nav-sign-out, .nav-upload {
	min-width: 46px;
	width: 104px;
	padding: 12px 10px;
	border-right: 1px solid #111;
	white-space: nowrap;
	word-break: break-word;
	flex: 1;
//   width: 92px;
//   opacity: 0.75;
//   cursor: pointer;
//   border-right: 0;
}






//

.user-dropdown-list {
	display: inline-flex;
	flex-flow: column nowrap;
}
.dropdown-button {
		display: block;
		width: 100%;
		position: relative;
}


